body{
    color: white;
    background: lightslategray;
    margin: 0px;
    font-family: "Playfair Display", serif;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
}

chamada{
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}


h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 130;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

